# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

build
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.env
f1Api/db/f1sp-9-2.db
f1Api/db/f1sp.db
f1Api/f1sp.db
*.db
src/assets/drivers/**/*
src/assets/drivers/*.png

db/data/*

f1sp.sql
F1Predict.code-workspace
dbServer/my.cnf
start.sh

build/*
build
