{
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "htmlWhitespaceSensitivity": "ignore",
    "printWidth": 120,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "tailwindStylesheet": "./src/styles/App.css",
    "tailwindConfig": "./tailwind.config.js",
    "useTabs": false
}
